.p-2 {
    height: 70vh;
    display: 'flex';
    justify-content:'center';
    align-items:'center';

}
table {
    /* background-color: rgba(83, 189, 132, 0.623); */
    color: black;
    padding: 20px 50px;
    border: 1px solid lightgray;
    align-content: center;
  }

  tbody {
    border-bottom: 1px solid lightgray;
  }
  
  th {
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
    padding: 2px 4px;
  }
  
  tfoot {
    color: gray;
  }
  
  tfoot th {
    font-weight: normal;
  }
